<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>ERP</string>
            <key>appId</key>
            <string>101</string>
        </dict>
        <dict>
            <key>name</key>
            <string>任务系统</string>
            <key>appId</key>
            <string>102</string>
        </dict>
        <dict>
            <key>name</key>
            <string>新员工</string>
            <key>appId</key>
            <string>103</string>
        </dict>
        <dict>
            <key>name</key>
            <string>OA</string>
            <key>appId</key>
            <string>104</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Fesco</string>
            <key>appId</key>
            <string>105</string>
        </dict>
        <dict>
            <key>name</key>
            <string>会议室</string>
            <key>appId</key>
            <string>106</string>
        </dict>
        <dict>
            <key>name</key>
            <string>差旅预定</string>
            <key>appId</key>
            <string>107</string>
        </dict>
    </array>
</plist>
