<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>sectionTitle</key>
        <string>我的应用</string>
        <key>apps</key>
        <array>
            <dict>
                <key>appId</key>
                <string>302</string>
                <key>name</key>
                <string>ERP</string>
            </dict>
            <dict>
                <key>appId</key>
                <string>201</string>
                <key>name</key>
                <string>OA</string>
            </dict>
            <dict>
                <key>appId</key>
                <string>202</string>
                <key>name</key>
                <string>任务系统</string>
            </dict>
            <dict>
                <key>appId</key>
                <string>602</string>
                <key>name</key>
                <string>手机令牌</string>
            </dict>
            <dict>
                <key>appId</key>
                <string>305</string>
                <key>name</key>
                <string>FESCO</string>
            </dict>
            <dict>
                <key>appId</key>
                <string>204</string>
                <key>name</key>
                <string>畅游助手</string>
            </dict>
            <dict>
                <key>appId</key>
                <string>405</string>
                <key>name</key>
                <string>爱内购</string>
            </dict>
        </array>
    </dict>
	<dict>
		<key>sectionTitle</key>
		<string>定制</string>
		<key>apps</key>
		<array>
			<dict>
				<key>appId</key>
				<string>101</string>
				<key>name</key>
				<string>畅秀阁</string>
			</dict>
			<dict>
				<key>appId</key>
				<string>102</string>
				<key>name</key>
				<string>秀场监控</string>
			</dict>
			<dict>
				<key>appId</key>
				<string>103</string>
				<key>name</key>
				<string>游戏体验</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>协同办公</string>
		<key>apps</key>
		<array>
			<dict>
				<key>appId</key>
				<string>201</string>
				<key>name</key>
				<string>OA</string>
			</dict>
			<dict>
				<key>appId</key>
				<string>202</string>
				<key>name</key>
				<string>任务系统</string>
			</dict>
			<dict>
				<key>appId</key>
				<string>203</string>
				<key>name</key>
				<string>KM</string>
			</dict>
			<dict>
				<key>appId</key>
				<string>204</string>
				<key>name</key>
				<string>畅游助手</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>人事</string>
		<key>apps</key>
		<array>
			<dict>
				<key>appId</key>
				<string>301</string>
				<key>name</key>
				<string>新员工</string>
			</dict>
			<dict>
				<key>appId</key>
				<string>302</string>
				<key>name</key>
				<string>ERP</string>
			</dict>
			<dict>
				<key>appId</key>
				<string>303</string>
				<key>name</key>
				<string>内部推荐</string>
			</dict>
			<dict>
				<key>appId</key>
				<string>304</string>
				<key>name</key>
				<string>人力分析</string>
			</dict>
			<dict>
				<key>appId</key>
				<string>305</string>
				<key>name</key>
				<string>FESCO</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>行政</string>
		<key>apps</key>
		<array>
			<dict>
				<key>appId</key>
				<string>401</string>
				<key>name</key>
				<string>差旅预定</string>
			</dict>
			<dict>
				<key>appId</key>
				<string>402</string>
				<key>name</key>
				<string>会议室</string>
			</dict>
			<dict>
				<key>appId</key>
				<string>403</string>
				<key>name</key>
				<string>资产盘点</string>
			</dict>
			<dict>
				<key>appId</key>
				<string>404</string>
				<key>name</key>
				<string>物业报修</string>
			</dict>
			<dict>
				<key>appId</key>
				<string>405</string>
				<key>name</key>
				<string>爱内购</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>财务</string>
		<key>apps</key>
		<array>
			<dict>
				<key>appId</key>
				<string>501</string>
				<key>name</key>
				<string>预算统计</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>IT</string>
		<key>apps</key>
		<array>
			<dict>
				<key>appId</key>
				<string>601</string>
				<key>name</key>
				<string>IT报修</string>
			</dict>
			<dict>
				<key>appId</key>
				<string>602</string>
				<key>name</key>
				<string>手机令牌</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>其他</string>
		<key>apps</key>
		<array>
			<dict>
				<key>appId</key>
				<string>701</string>
				<key>name</key>
				<string>环境监测</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
